header {
    font-size: 28px;
    color: var(--text);
    position: static;
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    margin-left: 1rem;
    border-bottom: 1px solid var(--text);
}