:root {
    --dark-blue: #001936;
    --gray: #576779;
    --green: #507a40;
    --white: #FFFFFF;
}

.expense-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 50px;
}
.expense {
    background-color: #f4f4f4;
    color: var(--dark-blue);
    max-width: 1000px;
    width: 100%;
    padding: 40px;
}

.expense h1 {
    text-align: center;
    color: #001936;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
}

.expense ul {
    list-style-type: none;
    padding: 0;
}

.expense li {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
