.expense li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    gap: 10px;
}

.error {
    color: red;
    flex-direction: column;
    padding: 8px;
}

.expense-labels{
    display: flex;
    justify-content: center;
}

.expense-container{
    display: flex;
    justify-content: center;
}