:root {
    --dark-blue: #001936;
    --gray: #576779;
    --green: #9fc490;
    --white: #FFFFFF;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

body {
    background-color: var(--dark-blue);
    color: var(--gray)
}

.income-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 50px;
}
.income-display {
    background-color: #f4f4f4;
    color: var(--dark-blue);
    max-width: 1000px;
    width: 100%;
    padding: 40px;
    text-align: center;
}

#title {
    color: var(--dark-blue);
    font-size: 64px;
}

#income-month {
    padding: 10px;
    align-content: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    border: 0px;
}

#salary-overview {
    display: flex;
    flex-direction: row;
}

#salary-overview > div {
    padding: 1em;
}