#graph-container {
    padding: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    background-color: var(--container-background);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--subtle-box-shadow);
}

#graph-side-label {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    translate: 0px, -100px;
    margin-bottom: 2.2em;
}

#graph-side-label p {
    margin-top: 0em;
}

#graph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background: repeating-linear-gradient(var(--text),
            var(--text) 2px,
            #ffffff00 2px,
            #ffffff00 199px);
    width: 100%;
    align-items: flex-end;
}

.bar {
    background-color: var(--secondary-content);
    width: 100px;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--standard-box-shadow);
}

#income-month-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#income-form-submit {
    margin-top: 1rem;
}

#salary-overview {
    display: flex;
    flex-direction: column;
}

#paycheque-input {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    padding-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    border-left: 4px solid transparent;
    border-left-color: var(--dark-blue);
}

#paycheque-input form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
}

#paycheque-input form label {
    margin-left: 1.25em;
}

.income-form-input {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}

.income-component {
    width: 30%;
}

.remove-income-item {
    margin-bottom: 2rem;
}

h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}