nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: 1rem;
  justify-self: center;
  align-items: center;
  font-size: 20px;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--primary-content);
}