nav {
  background-color: #f4f4f4;;
  left: 0;
  top: 0;
  
  width: 120px;
  text-align: center;
  align-items: left;
  position: fixed;
  
  
  height: 100%;
}

#navigation {
  height: 25%;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 5px;
  justify-content: space-around;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

a:hover {
  color: var(--green);
}