:root {
    --dark-blue: #001936;
    --gray: #576779;
    --green: #9fc490;
    --white: #FFFFFF;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

body {
    background-color: var(--dark-blue);
    color: var(--gray)
}

#title {
    color: #9fc490;
    font-size: 64px;
}

#income-month {
    padding: 10px;
    align-content: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    border: 0px;
}

#salary-overview {
    display: flex;
    flex-direction: row;
}

#salary-overview > div {
    padding: 1em;
}