.tracker-input {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1{
    text-align: center;
}

.form-container {
    background-color: var(--container-background);
    border: 1px, solid #000;
    box-shadow: var(--standard-box-shadow);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}