.dashboard p {
    font-style: italic;
}

.total-income {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--dark-blue);
    color: var(--white);
}
.total-expenses {
    background-color: var(--gray);
    color: var(--white);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.balance {
    background-color: var(--green);
    color: var(--white);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
}

.transaction-item.expenses {
    border-left-color: var(--gray);
}

.transaction-item.incomes {
    border-left-color: var(--dark-blue);
}
