.dashboard p {
    font-style: italic;
}

.summary-card1 {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-content);
    color: var(--white);
    border: 1px, solid #000;
    box-shadow: var(--standard-box-shadow);
}
.summary-card2{
    background-color: var(--secondary-content);
    color: var(--white);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px, solid #000;
    box-shadow: var(--standard-box-shadow);
}

.summary-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
}

.transaction-item.expenses {
    border-left-color: var(--gray);
}

.transaction-item.incomes {
    border-left-color: var(--dark-blue);
}

.transaction-input {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.submit-button-container{
    display: flex;
    justify-content: center;
    padding: 15px;
}

label{
    padding-right: 10px;
}