.dashboard p {
    font-style: italic;
}

.total-income, .remaining-balance {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--dark-blue);
    color: var(--white);
}
.total-expenses, .current-savings{
    background-color: var(--gray);
    color: var(--white);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.balance, .savings-progress {
    background-color: var(--green);
    color: var(--white);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;
}

ul {
    list-style-type: none;
}

.transaction-item.expenses {
    border-left-color: var(--gray);
}

.transaction-item.incomes {
    border-left-color: var(--dark-blue);
}

.transaction-input {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.submit-button-container{
    display: flex;
    justify-content: center;
    padding: 15px;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: #576779;
    color: white;
    border-radius: 5px;
    padding: 10px
}

button:hover{
    background-color: #001936;
}

label{
    padding-right: 10px;
}