:root {
    --background: #09111C;
    --text: #EFF0FF;
    --container-background: #0F1B2C;
    --primary-content: #065760;
    --secondary-content: #04454E;

    --standard-box-shadow:
    inset 1px  1px 0 #ffffff30,
    inset 0 -1px 0 #00000030;

    --subtle-box-shadow:
    inset 1px  1px 0 #ffffff10,
    inset 0 -1px 0 #00000010;

    font-family: "DM Sans", sans-serif;;
    font-size: 24px;
    font-weight: 600;
}

body {
    background-color: var(--background);
    color: var(--text)
}

h1, h2, h3, p, label, li, #title {
    color: var(--text);
}

#title {
    font-size: 48px;
    text-align: center;
}

button, select, input {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    color: var(--text);
    border-radius: 0.5rem;
    border-width: 1px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    min-width: 50px;
    border: 1px solid #000;
    box-shadow: var(--standard-box-shadow);
}

button, select, .form-submit {
    background-color: #04454E;
}

input {
    background-color: #FFFFFF06;
}

button:active, select:active, input:active, select:focus {
    box-shadow:
    inset 1px  1px 0 #00000030,
    inset 0 -1px 0 #FFFFFF30;
}

.content-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 50px;
}
.content {
    color: var(--background);
    max-width: 1000px;
    width: 100%;
    padding: 40px;
}

.content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.75rem;
  background-color: var(--container-background);
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: var(--subtle-box-shadow);
  
}

.transactions h2 {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.username-input {
    display: block;
    margin: auto;
    text-align: center;
}